/*Estilos de tu proyecto*/
/*Modificando los estilos comunes de la página*/
body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	background-image: url("../assets/images/hero.gif");
	background-size: 100%;
	background-repeat: no-repeat;
}
nav {
	top: 0;
	left: 0;
}
header {
	margin-top: 10px;
	overflow: hidden;
	clear: both;
}
.gradient {
	position: absolute;
	background: linear-gradient(transparent, #76278f);
	width: 100%;
	height: 6em;
	top: 36em;
}
/*Modificando tamaño y posición, mediante margin*/
.logo {
	width: 65px;
	height: 45px;
	margin-top: 45px;
	margin-left: 80px;
	display: inline-block;
}
.navegation {
	display: inline-block;
	list-style: none;
	color: #fff;
	margin-top: 0;
	padding-left: 650px;
	padding-top: 25px;
	vertical-align: top;

}
.navegation li {
	display: inline-block;
	font-size: 19px;
	padding: 20px 20px;
}
.navy {
	text-decoration: none;
	color: #fff;
}
/*Pseudocódigo que cambia cuando se posicionan sobre el*/
.navy:hover {
	color: #ff00bf;
}
.box {
	border-radius: 8px;
	border: 1px solid #fff;
	padding: 10px 16px;
}
.white-box {
	background: #fff;
	display: inline-block;
	float: right;
}
.content {
	padding: 60px;
}
h2 {
	color: #352384;
	font-size: 40px;
	margin-bottom: 0;
	margin-top: 0;
}
p {
	color: #352384;
	font-size: 13px;
}
input {
	display: block;
	border: none;
	font-size: 20px;
}
.pink-button {
	background: #FF00BF;
	display: inline-block;
	padding: 15px 15px;
	border-radius: 8px;
	margin-top: 30px;
	margin-right: 20px;
}
.pink-button a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
.sign-in {
	display: inline-block;
	color: #333447;
}
#changes:hover {
	color: #ff00bf;
}
.other-color {
	color: #333447;
}
.pinky {
	text-decoration: none;
	color: #ff00bf;
}
.pinky:hover {
	text-decoration: underline;
}
.second-box {
	margin-top: 78px;
	background: linear-gradient(#76278F,#2B1E66);
	padding: 20px 0;
}
.space {
	padding-left: 40px;
}
.tit {
	color: #fff;
	width: 500px;
	font-size: 27px;
	padding-top: 30px;
}
.parr {
	color: #fff;
	width: 500px;
	font-size: 18px;
	padding-bottom: 15px;
	font-weight: lighter;
}
.phone {
	display: inline-block;
	width: 500px;
	float: right;
	padding-right: 150px;
}
.first-section {
	display: inline-block;
	width: 100%;
}
.text1, .text2, .text3 {
	width: 250px;
	display: inline-block;
	font-size: 20px;
	padding-left: 50px;
}
.watch {
	margin-bottom: 0;
}
.section-title {
	margin-top: 0;
}
.description {
	color: #000;
}
.video1 , .video3 {
	width: 800px;
	height: 400px;
	float: right;
	padding-left: 185px;
}
.second-section {
	display: inline-block;
	width: 100%;
}

.video2 {
	width: 750px;
	height: 400px;
	float: left;

}
.third-section {
	display: inline-block;
	width: 100%;
}
footer {
	background: #333447;
	padding-right: 34px;
}
footer li a:hover {
	color: #FF00BF;
}
.footer1 {
	display: inline-block;
	list-style: none;
	padding-right: 150px;
}
.footer1 li {
	padding: 10px 10px;
}
.footer1 li a {
	color: #fff;
	text-decoration: none;
}
.footer1 img {
	width: 100px;
	height: 40px;
}
.iconos {
	color: #fff;
	font-size: 21px;
	text-align: center;
	padding-top: 40px;
}
.iconos i {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 1px solid #fff;	
	padding: 7px 7px;
}
.fa-facebook {
	margin: 0 30px;
}
.footer2 {
	width: 700px;
	margin-top: 30px;
}
.rights {
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
	font-size: 15px;
}